<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/download.css" />
    <title>Download Your Files | GiggleDrop</title>
  </head>
  <body>
    <section class="drop">
      <h1 class="brand">GiggleDrop</h1>
      <div class="center">
        <div class="main-container">
         <% if (error) { %>
            <h2 class="download-ready-text error-color"><%= error %></h2>
         <% } else { %>
            <h2 class="download-ready-text">Your File is Ready To Download 😉</h2>
        <% } %>
         <% if (file) { %>
            <div class="file-information">
                <h3>FileName: &#8209  <span><%= file.filename %></span></h3>
                <h3>Size: &#8209 <span><%= file.size %> bytes</span></h3>
                <h3>No. of Downloads: &#8209 <span><%= file.downloads %></span></h3>
            </div>
        <% } %>
          <div class="download-zone">
            <div class="icon-container">
              <img
                src="../images/download.png"
                width="70px"
                alt=""
              />
            </div>
           <% if (file) { %>
              <button class="download-button"><a  target="_blank" href="<%= downloadLink %>">Download File</a></button>
           <% } else { %>
              <button class="download-button"><a href="#"> No Download File</a></button>
           <% } %>

          </div>
      </div>
       <h1 class="signature">Crafted With ❤️ by Ajay Yadav</h1>
    </section>
    <script src="../js/index.js"></script>
  </body>
</html>
